.header {
  background-color: #004F40;
  position: relative; 
}

.header-logo {
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.mobile-nav {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu.visible {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

@media (max-width: 960px) {
  .nav-links {
    display: none; 
  }
  .mobile-nav {
    display: flex;
  }
}

